#trigger {
  @include background(url(../images/menu-icon.png));
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  height: 100px;
  width: 100px;
}

body {
  min-height: 100%;
}

#menu {
  @include background(linear-gradient(top left, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0)),
    url(../images/navy_blue.png), 
    linear-gradient(top left, #222, #444));
  display: block;
  width: 300px;

  .shadow {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    display: block;
    width: 0px;
    height: 100%;
    @include box-shadow(-10px 0px 30px 4px rgba(0, 0, 0, 1));
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      background: rgba(150, 150, 150, 0.0);
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      display: block;
      color: #FFF;
      font-family: Helvetica, sans-serif;
      font-size: 24px;
      line-height: 80px;
      height: 80px;
      width: 300px;

      &:last-of-type {
        border-bottom: none;
      }

      &:hover {
        background: lighten(rgba(150, 150, 150, 0.1), 20%);
      }
    }
  }
}