.tray.horizontal.left.closed#one
  .shadow
  %ul
    %li Option
    %li Option
    %li Option
    %li Option
    %li Option
    %li Option
    %li Option

.row
  .column.six
    .tray.trigger.one
    .list
      %ul
        %li
        %li
        %li
        %li
        %li
        %li

  .column.flex
    .list
      %ul
        %li
        %li
        %li
        %li
        %li
        %li