.box.hidden
.box.hidden
.box.hidden
.box.hidden
.box.hidden
.box.hidden

.menu-trigger

.menu.horizontal.closed
  %ul
    %li Option
    %li Option
    %li Option
    %li Option
    %li Option
    %li Option
    %li Option