#trigger

#menu
  .shadow
  %ul
    %li Option
    %li Option
    %li Option
    %li Option
    %li Option
    %li Option
    %li Option

.list
  .scroller
    %ul
      %li
      %li
      %li
      %li
      %li
      %li
      %li
      %li
      %li
      %li
      %li