.tray.trigger.one
.tray.trigger.one
.tray.trigger.one
.tray.trigger.one

.tray#one
  .shadow
  %ul
    %li Option
    %li Option
    %li Option
    %li Option
    %li Option
    %li Option
    %li Option